@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9cc4df;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.lists {
  display: flex;
  flex: 1;
  width: 100%;
  /* overflow-x: scroll; */
}

.lists .list {
  display: flex;
  flex-flow: column;
  flex: 1;

  width: 100%;
  min-width: 250px;
  max-width: 350px;

  height: 80%;
  min-height: 150px;

  background: rgba(0, 0, 0, 0.1);
  margin: 20px 25px;
  transition: all 0.2s linear;
  border-radius: 8px;
}

.lists .list .list-item {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  margin: 5px 8px;
  cursor: pointer;
  font-weight: bold;
}
